<ion-header>
  <navbar [titlePage]="title"></navbar>
</ion-header>

<ion-content padding>

  <ion-list radio-group>
    <ion-item>
        <img src="assets/icon/restaurant.svg" darkgreen item-left>
        <ion-label tappable> Almoçar
        </ion-label>
        <ion-radio color="primary" value="almocar" item-right ></ion-radio>

    </ion-item>

    <ion-item>
        <img src="assets/icon/gas-station.svg" darkgreen item-left>
        <ion-label tappable> Abastecer
        </ion-label>
        <ion-radio color="primary" value="abastecer" item-right ></ion-radio>

    </ion-item>

    <ion-item>
        <img src="assets/icon/company.svg" darkgreen item-left>
        <ion-label tappable> Voltar para empresa
        </ion-label>
        <ion-radio color="primary" value="voltar-empresa" item-right ></ion-radio>

    </ion-item>

    <ion-item>
        <img src="assets/icon/task.svg" darkgreen item-left>
        <ion-label tappable> Outros
        </ion-label>
        <ion-radio color="primary" value="outros" item-right ></ion-radio>
    </ion-item>
  </ion-list>

</ion-content>
